    .nav-item {
        position: relative;
        display: inline-block;
        padding-bottom: 5px; /* Adjust this value based on your design */
      }
      
      .nav-item::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px; /* Height of the yellow line */
        background-color:  #F5B700;
        transition: width 0.3s ease; /* Adjust the duration and timing function as needed */
      }
      
      .nav-item:hover::after {
        width: 100%;
      }
      
